.achievement-container {
  margin: 0 auto;
  width: 800px;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,.04);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    height: 150px;
  }

  .badge {
    width: 20%;
    filter: grayscale(100%);
  }

  .completed {
    width: 20%;
    filter: grayscale(0%);
  }
}
